body {
  line-height: 150%;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
.site-width {
  width: 736px;
  margin: 0 auto;
}
.wrap {
  background: #ffffe0;
  position: relative;
}

.wrap form {
  position: relative;
}

#start .title-logo img {
  width: 500px;
  position: absolute;
  right: 30px;
  top: 50px;
}

#start .main-img {
  position: relative;
  width: 500px;
  height: 300px;
  padding-top: 150px;
  padding-left: 50px;
  margin-bottom: 50px;
}

#start .main-img img {
  position: relative;
  width: 400px;
}

/*====================================*/
/*ゲーム選択画面*/
/*====================================*/

.choice-veg img {
  height: 180px;
  max-width: 200px;
}

.choice-soil img {
  height: 180px;
}

#choice {
  padding-left: 20px;
  padding-top: 40px;
}

#choice h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

#choice .choice-soil h2 {
  margin-top: 60px;
}

#choice p {
  margin-bottom: 5px;
}

#choice h3 {
  margin-bottom: 5px;
}

#choice .choice-soil,
.choice-veg {
  overflow: hidden;
}

#choice .img-container {
  float: left;
  margin-left: 10px;
  text-align: center;
}

#choice form button {
  margin-top: 30px;
  margin-left: 10px;
}

/*====================================*/
/*スタート画面・アクション送信ボたん*/
/*====================================*/

.wrap button {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  line-height: 50px;
  background-color: rgba(255, 255, 255, 0.8);

  display: inline-block;
  border: 2px solid #9ec34b;
  color: #9ec34b;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
  transition: 0.4s;
}
.wrap button:hover {
  cursor: pointer;
  background-color: #9ec34b;
  border-color: #cbe585;
  color: #fff;
}

#start form {
  position: absolute;
  top: 130px;
  right: 40px;
}

.status {
  font-size: 18px;
  margin-top: 5px;
  margin-left: 15px;
}
/*====================================*/
/*リスタートボたん*/
/*====================================*/
.wrap .title-logo form {
  float: right;
  margin-top: 15px;
  margin-right: 15px;
}
.wrap .btn-restart button {
  border: 2px solid #dcdcdc;
  background-color: #808080;
  color: #fff;
  font-size: 19px;
  width: 150px;
  height: 40px;
  line-height: 40px;
}

.wrap .btn-restart button:hover {
  border: 2px solid #808080;
  background-color: #fff;
  color: #808080;
}

/*====================================*/
/*メイン画面*/
/*====================================*/
#main .title-logo img {
  width: 400px;
  padding: 10px 0 0 10px;
}

#main .img-history {
  overflow: hidden;
}

#main .weather-img {
  margin-top: 30px;
  width: 100px;
  /* padding-top: 50px;
  padding-left: 80px; */
  float: left;
}

#main .weather-img img {
  width: 100px;
}

#main .main-img {
  width: 200px;
  padding-top: 50px;
  padding-left: 80px;
  float: left;
}

#main .main-img img {
  max-height: 200px;
}

#main .history {
  float: right;
  padding-top: 50px;
  padding-right: 80px;
}

#main .status span {
  font-size: 20px;
  font-weight: bold;
}

#main .status .grow-stage {
  color: #ff0000;
}

#main p {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 18px;
}

/*====================================*/
/*メイン画面　→　アクションボたん*/
/*====================================*/
.button {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

.button:hover {
  cursor: pointer;
}

.radio-inline__label {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 3px;
  transition: all 0.2s;
  border: 2px solid #9ec34b;
  color: #9ec34b;
  background: #fff;
}

.button:hover + .radio-inline__label {
  cursor: pointer;
}

.button:checked + .radio-inline__label {
  background-color: #9ec34b;
  border-color: #cbe585;
  color: #fff;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.7);
}

.button:focus + .radio-inline__label {
  outline-color: #fff;
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}
.action,
.weather {
  font-size: 20px;
  padding-left: 20px;
}

.submit-button {
  margin-top: 15px;
  padding-left: 20px;
}

#main .submit-button button:hover {
  outline-color: #fff;
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
  background-color: #ffa500;
  border-color: #fff;
  color: #fff;
}

#main .submit-button button {
  border: 2px solid #ffa500;
  color: #ffa500;
  background: #fff;
}

/* =======================================
結果発表画面
======================================= */
#result {
  padding-left: 20px;
  padding-top: 30px;
  overflow: hidden;
}

#result h1 {
  margin-bottom: 50px;
}

#result h2 {
  margin-left: 100px;
}

#result .main-img {
  float: left;
  margin-left: 100px;
}

#result .container {
  float: left;
  margin-top: 50px;
  margin-left: 30px;
}

#result .comment {
  margin-bottom: 20px;
}
